@using MVC_MobileBankApp.Models.DTOs.AdminDto
@model CreateAdminRequestModel
@using MVC_MobileBankApp.Enum



<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MobileBankApp</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> *@
</head>


<h3 style = "font-family:cabri;font-size : 20px;">Welcome to<br><marquee direction = "left">Registration Portal</marquee></h3>
<div style="font-size: 130%;">
    <hr />
    <div id = "reg-form">
    <form enctype="multipart/form-data" asp-action="CreateAdmin" method="post" enctype="multipart/form-data">
                @if(TempData.Peek("error") != null )
            {
                <h2 style="color: red; text-align: center;">@TempData.Peek("error")</h2>
            }
         @if(TempData["age"] != null)
             {
                <h3 style="color: red;">@TempData["age"]</h3>
               }
                @if(TempData["pix"] != null)
             {
                <h3 style="color: red;">@TempData["pix"]</h3>
               }

                <div class="form-group">
                <label asp-for="ProfilePicture" style="width: 100%;"></label>
                @* @if (Model.ProfilePicture != null)
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))">
                }
                else
                {
                    <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="">
                } *@
                
                <input type="file"
                       id="profilePicture"
                       accept=".png,.jpg,.jpeg,.gif,.tif"
                       asp-for="ProfilePicture"
                       class="form-control"
                       style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>







               
        <div class = "form-row">
            @* <label><b>First Name</b></label>
            <input type = "text" name="FirstName"/> *@

            @* <label asp-for = "FirstName"></label>
            <input asp-for = "FirstName" disabled class = "form-control" placeholder="Alexander"/> *@
               
             <label asp-for = "FirstName" class = "control-label"></label>
            <input asp-for = "FirstName" class = "form-control" placeholder="Alexander"/>

            <span asp-validation-for="FirstName" class="text-danger"></span>
            @* @Html.ValidationMessageFor(a => a.FirstName) *@

        </div><br>
         <div class = "form-row">
            @* <label><b>Last Name</b></label>
            <input type = "text" name="LastName"/> *@
            <label asp-for = "LastName" class = "control-label"></label>
            <input asp-for = "LastName"   class = "form-control" placeholder="Williams"/>

            <span asp-validation-for="LastName" class="text-danger"></span>
                 @* @Html.ValidationMessageFor(a => a.LastName) *@

        </div><br>
        <div class = "form-row">
             @* <label><b>Last Name</b></label>
            <input type = "text" name="LastName"/> *@
            <label asp-for = "Address" class = "control-label"></label>
            <input asp-for = "Address" class = "form-control" placeholder="Number,street,City,LG,State,County"/>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div><br>
          <div class = "form-row">
             <label asp-for = "DOB" class = "control-label"></label>
            <input type="date" asp-for = "DOB" class = "form-control" />
            <span asp-validation-for="DOB" class="text-danger"></span>
        </div><br>
        <div class="form-row">
                <label asp-for="Gender" class="control-label"></label>
                 <select asp-for = "Gender" asp-items="Html.GetEnumSelectList<GenderType>()"></select>
        </div><br>
         <div class="form-row">
                <label asp-for="MaritalStatus" class="control-label"></label>
                 <select asp-for = "MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatusType>()"></select>
        </div><br>
        <div class = "form-row">
            <label asp-for = "Email" class = "control-label"></label>
            <input type = "email" asp-for = "Email" class = "form-control"  placeholder="williams@gmail.com"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div><br>
         <div class = "form-row">
            <label asp-for = "ConfirmEmail" class = "control-label"></label>
            <input type = "email"  asp-for = "ConfirmEmail" class = "form-control"  placeholder="williams@gmail.com"/>
            <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
        </div><br>
         <div class = "form-row">
            <label asp-for = "PassWord" class = "control-label"></label>
            <input asp-for = "PassWord" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" id="pass" name="password" class = "form-control"  placeholder="Password must be 6 characters,consist at least one capital letter,one small letter,and also a number"/>
            <span asp-validation-for="PassWord" class="text-danger"></span>
        </div><br>
         <div class = "form-row">
            <label asp-for = "PhoneNumber" class = "control-label"></label>
            <input asp-for = "PhoneNumber" class = "form-control"  placeholder="+2348034254356"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div><br>
        <br><br>
        @Html.AntiForgeryToken()
        <div>
            <button href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal">Submit</button>
        </div>
          @if(TempData.Peek("exist") != null )
                        {
                        <script type="text/javascript">
                        window.onload = function(){
                            alert("@TempData.Peek("exist")")
                        }
                        </script>
                        }
       
    </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}