@using MVC_MobileBankApp.Models.DTOs.TransactionDto
@model CreateTransactionRequestModel
@using MVC_MobileBankApp.Models.Enum

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] MobileBankApp</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: flex;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -180px;
}
form{
    height: 780px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

  #email:valid, #pass:valid{
      color: green;
      border: solid red 1.5px;
  }
  #email:invalid, #pass:invalid{
      color: red;
  }
 
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
input::placeholder{
    color: grey;
    font-style: italic;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
select{
  color: white;
  width: 100px;
  height: 30px;
  background-color: #080710;
}


    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
         

    </div>
    <form nctype="multipart/form-data" asp-action="CreateTransaction" method="post">
        <h3>Transaction</h3>
        @* @if(TempData.Peek("message") != null )
      {
         <h3 id="overlay" style="color: red;">@TempData.Peek("message")</h3>
     } *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

          <label  asp-for="TransactType" class="control-label"></label><br>
            <select asp-for = "TransactType" asp-items="Html.GetEnumSelectList<TransactionType>()" required></select>

             <label  class = "control-label">Recipient Account Number if Transfer</label>
            <input id="pass" asp-for = "RecipientAccountNumber"  minlength="10" maxlength="10" class = "form-control" placeholder="0123456789"/>
            <span asp-validation-for="RecipientAccountNumber" class="text-danger"></span>

            <label asp-for = "Description" class = "control-label"></label>
            <input id="pass" asp-for = "Description" class = "form-control" placeholder="Payment" required/>
            <span asp-validation-for="Description" class="text-danger"></span>

             <label asp-for = "Amount" class = "control-label"></label>
            <input id="pass" asp-for = "Amount" type="number" class = "form-control" min="1"  placeholder="1500" required/>
            <span asp-validation-for="Amount" class="text-danger"></span>

             <label asp-for = "Pin" class = "control-label"></label>
            <input id="pass" type="password" asp-for = "Pin"  minlength="4" maxlength="4" class = "form-control"  placeholder="1234" required/>
            <span asp-validation-for="Pin" class="text-danger"></span>

        <button type="submit" value="Submit">Proceed</button>
        <div class="social">
          <div class="go"><a asp-controller="Customer" asp-action="ManageTransaction">Back</a></div> &nbsp; &nbsp;
           <div class="go"><a asp-controller="Customer" asp-action="Profile">Profile</a></div>
        </div>

    </form>
    @if(TempData.Peek("message") != null )
{
  <script type="text/javascript">
  window.onload = function(){
    alert("@TempData.Peek("message")")
  }
  </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>



























@* <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]MobileBankApp</title>
       <style>
        
         .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: red; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  #trans:hover{
    background-color: green;
  }
    </style>

</head> *@

@* @if(TempData.Peek("message") != null )
{
    <h3 id="overlay" style="color: red;">@TempData.Peek("message")</h3>
}... *@


@* <h3 style = "font-family:cabri;font-size : 20px;">Welcome to Transaction<br><marquee direction = "left">Page</marquee></h3>
<div style="font-size: 130%;">
    <hr />
    
    <div id = "reg-form">
    <form enctype="multipart/form-data" asp-action="CreateTransaction" method="post">
          <div class="form-row">
                <label asp-for="TransactType" class="control-label"></label>
                 <select asp-for = "TransactType" asp-items="Html.GetEnumSelectList<TransactionType>()"></select>
        </div><br>
         <div class = "form-row">
          
            <label  class = "control-label">Recipient Account Number if Transfer</label>
            <input asp-for = "RecipientAccountNumber"  class = "form-control" placeholder="0123456789" />
            <span asp-validation-for="RecipientAccountNumber" class="text-danger"></span>

        </div><br>
        <div class = "form-row">
            <label asp-for = "Description" class = "control-label"></label>
            <input asp-for = "Description" class = "form-control" placeholder="Payment"/>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div><br>
          <div class = "form-row">
            <label asp-for = "Amount" class = "control-label"></label>
            <input asp-for = "Amount" class = "form-control"  placeholder="1500"/>
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div><br>
        <div>
            <label asp-for = "Pin" class = "control-label"></label>
            <input type="password" asp-for = "Pin"  minlength="4" maxlength="4" class = "form-control"  placeholder="1234"/>
            <span asp-validation-for="Pin" class="text-danger"></span>
        </div><br><br><br>
        <div>
            
            <button id="trans" href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal">Submit</button>
        </div>
       
    </form>
    </div>
</div>
@if(TempData.Peek("message") != null )
{
  <script type="text/javascript">
  window.onload = function(){
    alert("@TempData.Peek("message")")
  }
  </script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
