@model MVC_MobileBankApp.Models.DTOs.UserDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] MobileBankApp</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <style media="screen">
      *,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    display: flex;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

  #email:valid, #pass:valid{
      color: green;
      border: solid red 1.5px;
  }
  #email:invalid, #pass:invalid{
      color: red;
  }
 
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
input::placeholder{
    color: grey;
    font-style: italic;
}
@* ::placeholder{
    color: #e5e5e5;
} *@
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
          @if(TempData.Peek("success") != null )
            {
                <h3 id="overlay" style="color: red;">@TempData.Peek("success")</h3>
            }

    </div>
    <form asp-action="LogIn" enctype="multipart/form-data">
        <h3>Login</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
             @if(TempData.Peek("logmessage") != null )
                    {
                        <h3  style="color: red; text-align: center;">@TempData.Peek("logmessage")</h3>
                    }

            

        <label asp-for="Email" for="username">Email</label>
        <input id="email" asp-for="Email" type="email" placeholder="williams@gmail.com" >
         <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="PassWord" for="password">Password</label>
        <input id="pass" asp-for="PassWord" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" type="password" placeholder="minimum of 6 characters with capital letter and number" >
         <span asp-validation-for="PassWord" class="text-danger"></span>

        <button type="submit" value="Submit">Log In</button>
        <div class="social">
          <div class="go"><a asp-controller="Customer" asp-action="CreateCustomer"> Sign Up</a></div>
        </div>
          @if(TempData.Peek("message") != null )
                        {
                        <script type="text/javascript">
                        window.onload = function(){
                            alert("@TempData.Peek("message")")
                        }
                        </script>
                        }
    </form>
</body>
</html>

























@* 
<head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MobileBankApp</title>
    <style>
  body {
    opacity: 0.8;
  }
  
  #email:valid, #pass:valid{
      color: green;
      border: solid red 1.5px;
  }
  #email:invalid, #pass:invalid{
      color: red;
  }
 
  #email:hover,#pass:hover {
    background: rgba(255, 99, 71, 0);
  } *@


  @* #overlay:hover{
      text-align: center;
  } ...*@


  @* #login{
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border-radius:  15px;
    box-shadow: 0 9px #999 ;
    
  }
  #login:hover{
    background-color: green;
  }
  #login:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

  } *@

    @* </style>
</head>
<div>
    <h1  class="text-center" style = "font-family:cabri;font-size : 60px; color: #b58900;"class="display-4">Welcome</br>To Our Banking System</h1>
</div>
 <br><br><br> <br>
  
<body id="overlay" style="background-image: url('https://ceoworld.biz/wp-content/uploads/2016/07/Financial-Services-Companies.jpg');"width="200" height="200">

    @if(TempData.Peek("success") != null )
{
    <h3 id="overlay" style="color: red;">@TempData.Peek("success")</h3>
}

 
<div class="container">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                
                <form asp-action="LogIn" enctype="multipart/form-data" >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @if(TempData.Peek("logmessage") != null )
                    {
                        <h3  style="color: red; text-align: center;">@TempData.Peek("logmessage")</h3>
                    }
                                        <div class="form-row"> </div>
                        <div style="color:green; font-family:cabri; text-align:center; font-size: 25px;" class="form-group col-sm-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input id="email" type = "email" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div><br>
                        <div style="color:orange; font-family:cabri; text-align:center; font-size: 25px;" class="form-group col-sm-6">
                            <label asp-for="PassWord" class="control-label"></label>
                            <input id="pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" asp-for="PassWord" type="password" id="pass" name="password" class="form-control" />
                            <span asp-validation-for="PassWord" class="text-danger"></span>
                       </div><br><br>
                        <div>
                        
                               <button id="login" style=" font-family:cabri; font-size: 20px;" href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal">Login</button>
                        </div>
                </form> *@


                @* @if(TempData.Peek("message") != null )
                    {
                                            <script>
                              function myFunction(){
                                alert("@TempData.Peek("message")")
                            }
                        </script>
                  
                    } ...*@

                    @* @if(TempData.Peek("message") != null )
                        {
                        <script type="text/javascript">
                        window.onload = function(){
                            alert("@TempData.Peek("message")")
                        }
                        </script>
                        }

                            
                
            </div>
        </div>

    </div>
</div>
</body> *@






















